
ifndef::complete[]

{{#imageFormat}}
:{{imageFormat}}:
{{/imageFormat}}

ifdef::maindoc[]
:parts: ./
:imagesdir: ./images/
:generated: {{generatePath}}
:diagrams: {generated}/images
endif::[]


endif::[]

ifdef::env-github[]
:diagrams: ../../generated/images
endif::[]

ifdef::complete[]
:diagrams: ../../generated/images
endif::[]
