:isGenerated:

include::Environment.adoc[]

==== {{resource}} resource

{{description}}

*Resource model*

include::{{diagramSource}}[]

{{#fields}}
*Field descriptions*

{{#hasFields}}
*{{resource}} fields*

[cols="35%,65%"]
|===
{{#fields}}
|{{name}} |{{description}}
{{/fields}}
|===
{{/hasFields}}

{{#subResources}}
{{#hasFields}}
*{{resource}} sub-resource fields*

[cols="35%,65%"]
|===
{{#fields}}
|{{name}} |{{description}}
{{/fields}}
|===

{{/hasFields}}
{{/subResources}}

{{/fields}}

{{#hasSamples}}

*Json representation sample*

We provide below the json representation of example of a '{{resource}}' resource object.

{{#samples}}

[code]
----
include::{samples}/{{sampleSource}}[]
----
{{/samples}}
{{/hasSamples}}

