:isGenerated:

include::Environment.adoc[]

==== {{resource}} resource

{{description}}

{{#fragment}}
{{#hasFragment}}
include::{fragments}/{{sourceLocation}}[]
{{/hasFragment}}
{{/fragment}}

*Resource model*

include::{{diagramSource}}[]

{{#fields}}
*Field descriptions*

{{#hasFields}}
*{{resource}} fields*

[cols="35%,65%"]
|===
{{#fields}}
|{{name}} |{{description}}
{{/fields}}
|===
{{/hasFields}}

{{#subResources}}
{{#hasFields}}
*{{resource}} sub-resource fields*

[cols="35%,65%"]
|===
{{#fields}}
|{{name}} |{{description}}
{{/fields}}
|===

{{/hasFields}}
{{/subResources}}

{{/fields}}

{{#hasSamples}}

*Json representation sample(s)*

{{#samples}}
{{description}}
{{#hasDescription}}
{{/hasDescription}}
{{^hasDescription}}
We provide below a JSON representation as example of the '{{resource}}' resource object.
{{/hasDescription}}
[code]
----
include::{samples}/{{sampleSource}}[]
----

{{/samples}}
{{/hasSamples}}

