
ifndef::complete[]

{{#imageFormat}}
:{{imageFormat}}:
{{/imageFormat}}

ifdef::maindoc[]
:generated: {{generatedPath}}
endif::[]

ifndef::maindoc[]
:generated: ../{{generatedPath}}
endif::[]

:parts: ./
:diagrams: ./
:imagesdir-old: {generated}/images/
:imagesdir: ./images/

endif::[]

ifdef::env-github[]
:diagrams: ../../generated/images
endif::[]

ifdef::complete[]
:diagrams: ../../generated/images
endif::[]
