include::Environment.adoc[]

{{#resourceMandatoryOperations}}
=== {{{resource}}} Mandatory Operations

{{#hasMandatoryOperations}}
The following table indicates which ones are mandatory for the {{{resource}}} resource:

[cols="100%", options="header"]
|===
|Uniform API Operation
{{#mandatoryOperations}}
|{{.}}
{{/mandatoryOperations}}
|===
{{/hasMandatoryOperations}}
{{^hasMandatoryOperations}}
There are no mandatory operations for the {{{resource}}} resource.

{{/hasMandatoryOperations}}
{{/resourceMandatoryOperations}}

