include::Environment.adoc[]

{{#resourceMandatoryOperations}}
=== {{{resource}}} Mandatory Operations

The following table indicates which ones are mandatory for the {{{resource}}} resource:

[cols="100%", options="header"]
|===
|Uniform API Operation
{{#mandatoryOperations}}
|{{.}}
{{/mandatoryOperations}}
|===

{{/resourceMandatoryOperations}}

