:doctype: book
{{#documentInfo}}
= {{{title}}}
:title-page:
:toc: macro
:toclevels: 3
:maindoc:

:COPYRIGHT: Copyright © TM Forum {{{year}}}. All Rights Reserved.
:DOCID: {{{docid}}}
:RELEASE: {{{release}}}
:DATE: {{{date}}}
:REVISION: {{{revision}}}
:IPR-MODE: {{{iprMode}}}
:STATUS: {{{status}}}
:RELEASE-STATUS: {{{releaseStatus}}}
{{/documentInfo}}
{{^documentInfo}}
:title-page:
:toc: macro
:toclevels: 3
:maindoc:
{{/documentInfo}}

include::config/Environment.adoc[] 
include::{generated}/Notice.adoc[]

toc::[]

include::parts/01_Conformance_Introduction.adoc[]

include::parts/02_Resources_Model_Conformance.adoc[]

include::parts/03_Notifications_Model_Conformance.adoc[]

include::parts/04_Operations_Conformance.adoc[]

{{#parts}}
include::parts/{{filename}}[]
{{/parts}}



