include::Environment.adoc[]

{{#resources}}
{{#patch}}
=== PATCH {{path}}?fields=...&{filtering}

{{description}}
{{#hasPatchableAttributes}}
[cols="50%,50%", options="header"]
|===
|*Patchable Attribute*	| *Rule*
{{#patchableAttributes}}
|{{label}} 
|{{comment}}
{{/patchableAttributes}}
|===
{{/hasPatchableAttributes}}

{{/patch}}

{{/resources}}


