= ${TITLE}
:COPYRIGHT: Copyright © TM Forum ${YEAR}. All Rights Reserved.
:DOCID: ${DOCID}
:RELEASE: ${RELEASE}
:DATE: ${DATE}
:REVISION: ${REVISON}
:IPR-MODE: ${IPR-MODE}
:STATUS: ${STATUS}
:RELEASE-STATUS: ${RELEASE-STATUS}

:maindoc:
:doctype: book
:backend: docbook
include::config/Environment.adoc[]

:toc: macro
toc::[]

include::parts/01_Conformance_Introduction.adoc[]

include::parts/02_Resources_Model_Conformance.adoc[]

include::parts/03_Notifications_Model_Conformance.adoc[]

include::parts/04_Operations_Conformance.adoc[]

{{#parts}}
include::parts/{{filename}}[]
{{/parts}}



