include::Environment.adoc[]

{{#resources}}
{{#hasMandatoryPostOperations}}
{{#post}}
{{#isMandatory}}
=== POST {{path}}?fields=...&{filtering}

{{description}}

The following table provides the list of mandatory attributes when creating an instance of the {{resource}} resource, including any possible rule, conditions and applicable default values.


[cols="50%,50%", options="header"]
|===
|*Mandatory Attribute*	| *Rule*
{{#mandatoryAttributes}}

|{{label}} 
|{{condition}}

{{comment}}
{{/mandatoryAttributes}}
|===

{{/isMandatory}}
{{/post}}
{{/hasMandatoryPostOperations}}


{{^hasMandatoryPostOperations}}
There are no mandatory POST operations for {{resource}}.

{{/hasMandatoryPostOperations}}


{{/resources}}

