include::Environment.adoc[]

{{#resources}}
{{#hasMandatoryPatchOperations}}
{{#patch}}
{{#isMandatory}}
=== PATCH {{path}}?fields=...&{filtering}

{{description}}

{{#hasNonPatchableAttributes}}
[cols="50%,50%", options="header"]
|===
|*Non Patchable Attribute*	| *Rule*
{{#nonPatchableAttributes}}
|{{label}} 
|{{comment}}
{{/nonPatchableAttributes}}
|===
{{/hasNonPatchableAttributes}}

{{#hasPatchableAttributes}}
[cols="50%,50%", options="header"]
|===
|*Patchable Attribute*	| *Rule*
{{#patchableAttributes}}
|{{label}} 
|{{comment}}
{{/patchableAttributes}}
|===
{{/hasPatchableAttributes}}

{{/isMandatory}}
{{/patch}}
{{/hasMandatoryPatchOperations}}

{{^hasMandatoryPatchOperations}}
There are no mandatory PATCH operations for {{resource}}.

{{/hasMandatoryPatchOperations}}

{{/resources}}


