include::Environment.adoc[]


{{#resources}}
{{#hasMandatoryGetOperations}}
{{#get}}
{{#isMandatory}}

=== GET {{path}}?fields=...&{filtering}

{{description}}

Attribute selection is mandatory for all first level attributes except for the href attribute.
Filtering on sub-resources is optional for all compliance levels

{{/isMandatory}}
{{/get}}
{{/hasMandatoryGetOperations}}

{{^hasMandatoryGetOperations}}
There are no mandatory GET operations for {{resource}}.

{{/hasMandatoryGetOperations}}

{{/resources}}

