{{#documentInfo}}
= {{{title}}}
:COPYRIGHT: Copyright © TM Forum {{{year}}}. All Rights Reserved.
:DOCID: {{{docid}}}
:RELEASE: {{{release}}}
:DATE: {{{date}}}
:REVISION: {{{revision}}}
:IPR-MODE: {{{iprMode}}}
:STATUS: {{{status}}}
:RELEASE-STATUS: {{{releaseStatus}}}
{{/documentInfo}}

:maindoc:
:doctype: book
:backend: docbook

include::config/Environment.adoc[]

:toc: macro
:toclevels: 3

toc::[]

:sectnums:

include::parts/01_Introduction.adoc[]

include::parts/02_UseCases.adoc[]

include::parts/03_PolymorphismAndExtensions.adoc[]

include::parts/04_Resources.adoc[]

include::parts/05_Operations.adoc[]

include::parts/06_Common_notifications.adoc[]

include::parts/07_Acknowledgements.adoc[]

